<p>
    <%= styled_flash %>
</p>
<form action="/session/new" method="post">
    <%= Rack::Csrf.tag(env) %>
    SIGN IN
    <input type="text" name="user[username]" placeholder="username">
    <br>
    <input type="password" name="user[password]" placeholder="password">
    <br>
    <button type="submit">sign in </button>
    
</form>