<nav class="nav">
    <ul class="nav-bar">
        <li>
            <span class="glyphicon glyphicon-star"></span>
            <p>
                Home
            </p>
        </li>
        <li></li>
        <button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star group" aria-hidden="true"></span> Star
</button>
        
        <div class="profile-options">
            <div>
                <img src="" alt="" />
            </div>
        </div>
        
        <div class="new-twzzl">
            <i></i>
            <li>Twzzl</li>
        </div>
        
    </ul>
</nav>
    <div id="main"></div>
    
