
<p>
    <%= styled_flash %>
</p>
<form action="/users/new" method="post">
    <%= Rack::Csrf.tag(env) %>
    SIGN UP
    <input type="text" name="user[username]" placeholder="username">
    <br>
    <input type="text" name="user[f_name]" placeholder="first name">
    <br>
    <input type="text" name="user[l_name]" placeholder="last name">
    <br>
    <input type="password" name="user[password]" placeholder="password">
    <br>
    <button type="submit">sign up </button>
    
</form>