<form action="/users" method="post">
    <%= Rack::Csrf.tag(env) %>
    SIGN UP
    <input type="text" name="user[username]" placeholder="username">
    <br>
    <input type="password" name="user[password]" placeholder="password">
    <br>
    <button type="submit">sign up </button>
    
</form>