<!DOCTYPE html>
<html>
    <head>
        <title>Twzzlr</title>
        <link rel="stylesheet" href="dist/css/bundle.css" />
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js'></script>
        <script src="/jst.js"></script>
        <script src="dist/scripts/bundle.js"></script>
    </head>
    <body>
        <%= yield %>
    </body>
</html>